html,body,.container{
	height: 100%;	
}

/*containerData starts here*/
.containerData .sectionTwo {
	width:90%;
	margin:0 auto;
	padding-top:50px;
}
.statusMainRight{
	padding-left: 50px;	
}
.containerData .sectionTwo .mainTab ul.TabbedPanelsTabGroup li.TabbedPanelsTabSelected {
	font-size:18px;
	color:#1a1a1a;
	border-bottom: 4px solid #d2d2d2;
	font-weight:bold;
	outline:none;
}
.containerData .sectionTwo .mainTab ul.TabbedPanelsTabGroup li {
	float:left;
	width:162px;
	font-size:16px;
	color:#747474;
	border-bottom: 3px solid #fff;
	margin-right:35px;
	line-height:42px;
	outline:none;
	cursor:pointer;
}
.containerData .sectionTwo .colorBox ul li {
	font-size:12px;
	color:#747474;
	margin-bottom:17px;
}
.containerData .sectionTwo .colorBox ul li  span.color {
	width:12px;
	height:12px;
	border-radius: 50%;
	display:inline-block;
	margin-right:18px;
}
.containerData .sectionTwo .colorBox {
	margin-top:40px;
}
.containerData .sectionTwo .colorBox ul li  span.colorOne {
	background:#7bffb0;
}
.containerData .sectionTwo .colorBox ul li  span.colorTwo {
	background:#0deff7;
}
.containerData .sectionTwo .colorBox ul li  span.colorThree {
	background:#fff002;
}
.containerData .sectionTwo .colorBox ul li  span.colorFour {
	background:#ff9e56;
}
.containerData .sectionTwo .colorBox ul li  span.colorFive {
	background:#8c768f;
}
.containerData .sectionTwo .colorBox ul li  span.colorSix {
	background:#04f8e6;
}
.containerData .sectionTwo .colorBox ul li  span.colorSeven {
	background:#ffee01;
}
.containerData .sectionTwo .colorBox ul li  span.colorEight {
	background:#ff59a2;
}
.containerData .sectionTwo .fullCircle {
	width: 36%;
    margin: 120px 0px 0px 9%;
}
.containerData .sectionTwo .information {
	 margin: 200px 0px 0px 12%;
}
.containerData .information ul li {
	font-size:14px;
	color:#0c0c0c;
	margin-bottom:82px;
}
.containerData .information ul li span {
	display:inline-block;
}
.containerData .information ul li span.spanOne {
	width:255px;
}
.containerData .information ul li span.percent {
	font-size:24px;
	color:#0c0c0c;
	font-weight:bold;
	margin-right:12px;
}
.containerData .information ul li span.extraPercent {
	margin-right :32px;
}
.containerData .graphSet {
	position:relative;
	margin-left:25px;
}
.containerData .details {
	position: absolute;
    background: #f4f4f4;
    padding: 30px 49px 8px 30px;
    top: 65px;
    right: 40px;
}
.containerData .details .topic {
	font-size:14px;
	color:#747474;
	margin-bottom:25px;
}
.containerData .details ul li {
	font-size:12px;
	color:#a4a4a4;
	margin-bottom:18px;
}
.containerData .informationExtra {
	 margin: 285px 0px 0px 19% !important;
}
.containerData .informationExtra ul li span.spanThree {
	width:140px;
}
.containerData .sectionOne {
	background:#f4f4f4;
	width:100%;
	padding:15px 0px;
	position:fixed;
}
.containerData .sectionOne .sectionLft,.sectionRgt {
	width:50%;
}
.containerData .sectionOne .sectionLft .top {
	color:#6f6f6f;
	font-size:14px;
	margin-right:12px;
	padding:2px 0px 2px 35px;
	letter-spacing:3px;
}
.containerData .sectionOne .sectionLft .list ul {
	background:#fff;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;	
}
.containerData .sectionOne .sectionLft .list ul li {
	color:#bbb;
	font-size:12px;
	width:102px;
	height:20px;
	line-height:20px;
	text-align:center;
	letter-spacing:2px;
	cursor:pointer;
}
.containerData .sectionOne .sectionLft .list ul li.click {
	color:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #08e671;
    -webkit-box-shadow: 0 4px 6px rgba(38,18,1,.12);
    -moz-box-shadow: 0 4px 6px rgba(38,18,1,.12);
    box-shadow: 0 4px 6px rgba(38,18,1,.12);
}
.containerData .sectionOne .sectionRgt ul {
	float:right;
	padding-right:60px;
}
.containerData .sectionOne .sectionRgt ul li {
	float:left;
	color:#747474;
	font-size:14px;
}
.containerData .sectionOne .sectionRgt ul li span {
	display:inline-block;
}
.containerData .sectionOne .sectionRgt ul li.first {
	margin-right:8px;
}
.containerData .sectionOne .sectionRgt ul li.sec {
	margin-right:40px;
}
.containerData .sectionOne .sectionRgt ul li span.slash {
	padding:0px 9px;
}
.containerData .sectionOne .sectionRgt ul li span.name {
	margin-right:10px;
}
.containerData .mainTab{
	margin-top: 55px;
}


















/*containerData starts here*/
