html,
body,
.container {
    height: 100%;
}
.containerHistory {
    background: url(../images/bgmap.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
}
.sectionOne {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 58px 0px 58px;
    display: none;
}
.sectionOne .mainTab {
    position: relative;
}
.sectionOne ul li {
    float: left;
    color: #747474;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
.sectionOne ul li span {
    width: 12px;
    height: 12px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}
.sectionOne ul li:nth-child(2) {
    margin-left: 40px;
}
.sectionOne .TabbedPanelsTabGroup li.TabbedPanelsTabSelected span {
    background-color: #08e671;
    border: 1px solid #08e671;
}
.TabbedPanelsContent table {
    width: 100%;
    margin-top: 15px;
}
.TabbedPanelsContent tr {
    border-top: 1px solid #dedede;
}
.TabbedPanelsContent tr:hover {
    background-color: rgba(240, 253, 245, 0.79);
    cursor: pointer;
}
.TabbedPanelsContent tr:first-child {
    border-top: none;
}
.TabbedPanelsContent tr:last-child {
    padding-bottom: 50px;
}
.TabbedPanelsContent tr:first-child td {
    font-size: 16px;
    color: #141414;
}
.TabbedPanelsContent tr:first-child:hover {
    background: none;
    cursor: default;
}
.TabbedPanelsContent tr:nth-child(2) {
    border-top: 2px solid #dedede;
}
.TabbedPanelsContent td {
    font-size: 14px;
    color: #0c0c0c;
    padding: 15px 0px;
    width: 10%;
    padding-left: 2%;
}
.set {
    position: relative;
    width: 23%;
    float: left;
    margin: 28px 0 0 2.5%;
}
.set:first-child {
    margin-left: 0;
}
.set img{
	width: 100%;	
}
.set span {
    position: absolute;
    right: .1%;
    display: block;
    top: 0;
    border-radius: 8px;
    overflow: hidden;
}
.history {
    background-color: rgba(255, 255, 255, 0.9) !important;
	    padding: 11px 2% 11px 2% !important;
}
.sha{
	-webkit-box-shadow: -4px 10px 23px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -4px 10px 23px 0px rgba(0,0,0,0.75);
	box-shadow: -4px 10px 23px 0px rgba(0,0,0,0.75);
	transition:all .2s;
	
}
.history h2 {
    background-color: #e5e5e5;
    font-size: 12px;
    color: #696969;
    padding: 4px 5px;
    border-radius: 4px;
    word-spacing: 8px;
}
.history .bor {
    color: #696969;
    margin: 0 10px;
}
.containerHistory .sectionOne .btn {
    background: none;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #b2b2b2;
    padding: 4px 0;
    width: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    -moz-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
}
.containerHistory .sectionOne .orangeBtn {
    background-color: #fd7d00 !important;
}
.containerHistory .sectionOne .greenBtn {
    background-color: #08e671 !important;
    margin-left: 20px;
}
.history .play {
    padding: 0;
    width: 142px;
	display: block;
}
.history .play span {
    margin: 0px 12%;
}
.history h3 {
    font-size: 14px;
    color: #0c0c0c;
	margin-top: 7px;
}
.secondMenu {
    display: flex;
}
.secondMenu .pro {
    position: relative;
	top: 2px;
    left: 6px;
}
.secondMenu .txt {
    position: absolute;
    font-size: 12px;
    color: #747474;
    top: -7px;
    left: 64%;
}
.secondMenu .progreesbar {
    margin: 0px 40px;
}
.btnNew {
    background: none;
    font-size: 14px;
    color: #959595;
    margin-left: 20px;
}
.btnNew span {
    margin-right: 16px;
    display: inline-block;
}
.btnSet {
    position: absolute;
    right: 1%;
    top: 0;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 124px;
    background-color: transparent;
    padding-left: 2.5%;
    z-index: 9;
}
.historypost {
    position: fixed;
    top: 71px;
    width: 100%;
    padding: 0 !important;
}
.myScroll {
    height: 230px;
}
.secondSet {
    padding-bottom: 30px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff !important;
}
.mCSB_scrollTools .mCSB_dragger {
    background-color: #e3e3e3 !important;
    opacity: 1 !important;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    background-color: #e3e3e3;
    opacity: 1 !important;
    width: 12px;
}
.mCSB_draggerRail {
    background-color: #fff !important;
    position: relative;
    opacity: 1 !important;
    width: 6px !important;
}
.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px !important;
    opacity: 1 !important;
    webkit-border-radius: 100px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.mCSB_scrollTools {
    opacity: 1 !important;
}
.sliding {
    height: 14px;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    bottom: -14px;
    left: 0;
    cursor: pointer;
    transition: all .4s;
    z-index: 55;
}
.botto {
    bottom: 3px;
}
.btnAdd {
    bottom: -299px;
}
.slide {
    width: 60px;
    height: 6px;
    background-color: #e5e5e5;
    margin: 4px auto;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 6px;
}
.secMainTwo {
    position: relative;
}
.statusMainRight {
    padding-left: 50px;
}
.statusMainInSec {
    background: #f4f4f4;
    padding: 12px 2% 20px 2%;
}
.statusMainInSec h1 {
    display: flex;
    align-items: center;
    color: #696969;
    font-size: 14px;
}
.statusMainInSec .niceOne {
    display: flex;
    margin: 1px 30px 1px 0;
}
.statusMainInSec .nice-select {
    width: 140px;
}
.statusMainInSec button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #b2b2b2;
    padding: 4px 0;
    width: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    -moz-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
}
.statusMainInSec .statusLoad {
    display: inline-block;
    width: 14px;
    margin-right: 17px;
}
.statusMainInSec button.lastButton {
    margin-right: 30px;
}
.statusMainInSec ul li {
    float: left;
    color: #747474;
    font-size: 14px;
    padding: 5px 0;
}
.sectionOne .btn {
    background: none;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #b2b2b2;
    padding: 4px 0;
    width: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    -moz-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
}
.sectionOne .btn:nth-child(2){
	margin-left: 22px;	
}
.mainn{
	position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 418px;
    z-index: 1;	
	display: none;
}