@charset "utf-8";
/* CSS Document */

/* containerRun Start Here */
.containerRun .runTopFix {
	position: fixed;
	width: 98%;
	z-index: 9;
}
.containerRun .runHead{
	padding: 0 2.5%;
	background-color: #f4f4f4;
}
.containerRun .runBottom{
	padding-top: 100px;
}
.containerRun .runHead .selectBox {
	width: 221px;	
	margin: 14px 0;
}
.containerRun .runHead .selectBox .nice-select {
    background: #d4d4d4 url(../images/runseletarrowtwodown.png) no-repeat 100% 50%;
    background-color: #fff;
    border-radius: 35px;
    -webkit-box-shadow: 0px 5px 4px 1px #ececec;
	-moz-box-shadow: 0px 5px 4px 1px #ececec;
	box-shadow: 0px 5px 4px 1px #ececec;
}
.containerRun .runHead .selectBox .nice-select ul li{
	 font-size: 12px;
	 color: #dbdbdb;
}
.containerRun .runHead .selectBox .nice-select h1 {
	font-size: 12px;
	width: 100%;
	height: 16px;
	color: #dbdbdb;
	cursor: pointer;
	padding: 3px 8px;
}
.containerRun .firstUlBox {
	padding-left: 2.2%;
}
.containerRun .firstUlBox > ul > li {
	float: left;
	position: relative;	
}
.containerRun .firstUlBox ul li a {
	position: relative;
	padding: 17px 15px;
	font-size: 14px;
	color: #696969;
}
.containerRun .firstUlBox ul li a span {
	position: absolute;
	top: 12px;
	right: 6px;
	padding: 3px;
	border-radius: 50%;
	background-color: #fd7d00;	
}
.containerRun .firstUlBox > ul > li.clickLi {
	background-color: #f4f4f4;
	-webkit-box-shadow: 0 -16px 16px rgba(0,0,0,.1);
	-moz-box-shadow: 0 -16px 16px rgba(0,0,0,.1);
	box-shadow: 0 -16px 16px rgba(0,0,0,.1);
}
.containerRun .firstUlBox > ul > li.clickLi a {
	font-size: 16px;
	padding: 15.5px 14px;	
}
.containerRun .firstUlBox ul li b {
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 10px;
    color: #696969;
    cursor: pointer;
    z-index: 5;
	opacity: 0;
}
.containerRun .firstUlBox ul li.clickLi b {
	opacity: 1;
}
.containerRun .secondUlBox ul li a {
	padding: 17px 2px;
	font-size: 14px;
	color: #747474;	
}
.containerRun .secondUlBox ul li {
	float: left;	
}
.containerRun .runTopStrip {
	padding: 13px 2.5%;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0 -16px 16px rgba(0,0,0,.1);
	-moz-box-shadow: 0 -16px 16px rgba(0,0,0,.1);
	box-shadow: 0 -16px 16px rgba(0,0,0,.1);	
}	
.containerRun .runTopStrip ul li {
	float: left;
}	
.containerRun .runTopStrip ul li a {
	font-size: 14px;
	color: #0c0c0c;
}
.containerRun .runTopStrip .runTopStripRight button {
	background: #fff;
	border-radius: 35px;
	font-size: 14px;
	color: #bbbbbb;
	padding: 4px 35px;
	margin-left: 15px;
	-webkit-box-shadow: 0 7px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 7px 10px rgba(0,0,0,.2);
	box-shadow: 0 7px 10px rgba(0,0,0,.2);
}
.containerRun .runTopStrip .runTopStripRight button.btnGreen {
	background: #08e671;
	color: #fff;
}
.containerRun .runTopStrip .runTopStripRight button.btnExtra {
	background: #436bff;
	color: #fff;	
}
.containerRun .runHead button {
    background: #fff url(../images/runtopbtnbg.png) no-repeat 16px center;
    padding: 4px 25px 4px 45px;
    border-radius: 35px;
    margin: 13px 0 13px 50px;
	overflow: hidden;
    font-size: 14px;
    color: #fd7d00;
}
.containerRun .runHead button.btnClass {
	background: url(../images/runtopbtnbgclick.png) no-repeat 16px center;
	color: #fff;
	background-color: #fd7d00;
}
.containerRun .runBottomLeft {
	position: fixed;
	top: 171px;
	width: 11.65%;
	background-color: #f4f4f4;
	text-align: center;	
	-webkit-box-shadow: 20px 28px 44px 8px rgba(0,0,0,.4);
	-moz-box-shadow: 20px 28px 44px 8px rgba(0,0,0,.4);
	box-shadow: 20px 28px 44px 8px rgba(0,0,0,.4);
}
.containerRun .runBottomLeft .timeSecBox {
	padding-bottom: 55%;	
}
.containerRun .runBottomLeft .headText {
	font-size: 16px;		
	color: #9c9c9c;
	background-color: #e5e5e5;
	padding: 15px 0;
}
.containerRun .runBottom .ulScroll {
	height: 150px;	
}
.containerRun .runBottom .ulScroll .mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.containerRun .runBottom .timeLink li {
	line-height: 15px;
	margin-top: 20px;
}
.containerRun .runBottom .timeLink li span {
	font-size: 14px;		
	color: #0c0c0c;
	margin-right: 30px;
}
.containerRun .runBottom .timeLink .firstLi {
	margin-top: 26px;
}
.containerRun .runBottom .timeLink li a {
	background-color: #76e8ae;
	border-radius: 4px;
	padding: 2px 12px;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
}
.containerRun .runBottom .timeSecBox:last-child li a {
	background-color: #13e7cc;
}	
.containerRun .runBottomRight {
	width: 88%;
	-webkit-box-shadow: inset 0px 46px 34px -20px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0px 46px 34px -20px rgba(0,0,0,.1);
	box-shadow: inset 0px 46px 34px -20px rgba(0,0,0,.1);
}
.containerRun .runBottomRightOne {
	padding: 38px 0 0 4%;
}
.containerRun .runBottomRightOneScroll .mCSB_horizontal.mCSB_inside > .mCSB_container {
	margin-bottom: 0;
}
.containerRun .runBottomRightOneScroll .runBottomRightOneScroll {
	width: 1600px;
	margin-right: 100px;
}
.containerRun .runBottomRightOneScroll .mCSB_scrollTools.mCSB_scrollTools_horizontal {
	background: #e9e9e9;	
	bottom: 0;
}
.containerRun .runBottomRightOneScroll .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #fdfdfd url(../images/runrpfourscrollimg.png) no-repeat;
    width: 100%;
    margin: 4px;
    background-position: center center;
    height: 7px;
}
.containerRun .runBottomRightOne .runScrollTop {
    padding-bottom: 160px;
    margin-right: 73px;
}
.containerRun .runBottomRightOne .runScrollTopLeft {
	background-color: #434343;
	font-size: 14px;	
	color: #fff;
	padding: 7px 32px;
}
.containerRun .runBottomRightOne .runScrollTopRight h1 {
	background: url(../images/runslider.png) no-repeat right center;
	padding-right: 80px;
	font-size: 14px;
	color: #959595;
	margin: 7px 0;
}
.containerRun .runBottomRightOne .runScrollTopRight h1:first-child {
	margin-right: 34px;
}
.containerRun .runBottomRightOne .runScrollBottomTwo {
	margin: 116px 0 88px 0;
}
.containerRun .runBottomRightOne .runScrollBottomLeft {
	font-size: 14px;
	color: #0c0c0c;	
	margin-right: 22px;
}
.containerRun .runScrollBottomRight ul li {
	float: left;	
}
.containerRun .runScrollBottomRight ul li span {
	display: block;
	height: 1px;
}
.containerRun .runScrollBottomRight ul li span.sBgGreen {
	background-color: #08e671;
}
.containerRun .runScrollBottomRight ul li span.sBgRed {
	background-color: #fd0000;
}
.containerRun .runScrollBottomRight ul li span.sBgOrange {
	background-color: #fd7d00;
}
.containerRun .runScrollBottomRight ul li span.firstBr {
	width: 40px;
}
.containerRun .runScrollBottomRight ul li span.secondBr {
	width: 90px;
}
.containerRun .runScrollBottomRight ul li span.thirdBr {
	width: 130px;
}
.containerRun .runScrollBottomRight ul li span.FourthBr {
	width: 89px;
}
.containerRun .runScrollBottomRight ul li span.FifthBr {
	width: 113px;
}
.containerRun .runScrollBottomRight ul li span.sixthBr {
	width: 119px;
}
.containerRun .runScrollBottomRight ul li span.seventhBr {
	width: 122px;
}
.containerRun .runScrollBottomRight ul li span.eightBr {
	width: 79px;
}
.containerRun .runScrollBottomRight ul li span.ninthBr {
	width: 89px;
}
.containerRun .runScrollBottomRight ul li span.tenthBr {
	width: 169px;
}
.containerRun .runScrollBottomRight ul li span.eleventhBr {
	width: 85px;
}
.containerRun .runScrollBottomRight ul li span.twelvthBr {
	width: 99px;
}
.containerRun .runScrollBottomRight ul li span.therteenthBr {
	width: 99px;
}
.containerRun .runScrollBottomRight ul li span.fourteenthBr {
	width: 73px;
}
.containerRun .runScrollBottomRight ul li a {
	position: relative;
    background: url(../images/runscrolldot.png) no-repeat center 0;
    font-size: 14px;
    color: #0c0c0c;
    width: 13px;
    padding-top: 22px;
	margin-top: -6px;
	text-align: center;
}
.containerRun .runScrollBottomRight ul li a .liPos {
    position: absolute;
}
.containerRun .runScrollBottomRight ul li a .liPos h1 {
    font-size: 12px;
    color: #bdbdbd;
}
.containerRun .runScrollBottomRight ul li a .liPos span {
    font-size: 12px;
    color: #fff;
    line-height: 22px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfSecondGreen {
    top: -62px;
    left: -12px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfSecondGreen span {
    background: url(../images/runfullsecondgreen.png) no-repeat;
    width: 70px;
    height: 38px;
    margin-top: 6px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfThirdGreen h1 {
    display: flex;
    line-height: 24px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfThirdGreen {
    top: -162px;
    right: -12px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfThirdGreen span {
    background: url(../images/runfullthirdgreen.png) no-repeat;
    margin:  0 0 5px 10px;
	width: 70px;
	height: 38px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfThirdGreen span.rSecondGreen {
    background: url(../images/runsecondgreen.png) no-repeat;
    width: 70px;
    height: 24px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfThirdGreen span.rThirdGreen {
    background: url(../images/runthirdgreen.png) no-repeat;
    width: 70px;
    height: 24px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfThirdGreen span.rFirstGreen {
    background: url(../images/runfirstgreen.png) no-repeat;
    width: 70px;
    height: 24px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfThirdGreen span.rFourthGreen {
    background: url(../images/runfourthgreen.png) no-repeat;
    width: 70px;
    height: 24px;
}
.containerRun .runScrollBottomRight ul li a .liPos.rfSecondGreen.rfFirstGreen span {
    background: url(../images/runfullfirstgreen.png) no-repeat;
    width: 70px;
    height: 38px;
    margin-top: 6px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a {
    background: url(../images/runscrolldot.png) no-repeat center bottom;
    padding: 0 0 22px 0;
    margin-top: -6px;
    transform: translate(0,-59px);
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfThirdBlue {
    top: 65px;
    left: -46px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfThirdBlue h1 {
    display: flex;
	align-items: baseline;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfThirdBlue span {
    background: url(../images/runfullthirdBlue.png) no-repeat;
    width: 72px;
    height: 38px;
    margin:  5px 10px 0 0;
	line-height: 52px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfThirdBlue span.rFourthBlue {
    background: url(../images/runthirdBlue.png) no-repeat;
    height: 24px;
    line-height: 24px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfSecondBlue {
    top: 65px;
    left: -40px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfSecondBlue span {
    background: url(../images/runfullsecondBlue.png) no-repeat;
    width: 72px;
    height: 38px;
    margin:  5px 10px 5px 0;
	line-height: 52px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfFirstBlue {
    top: 65px;
    left: -46px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfFirstBlue span {
    background: url(../images/runfullfirstBlue.png) no-repeat;
    width: 72px;
    height: 38px;
    margin:  5px 10px 5px 0;
	line-height: 52px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfOrange {
    top: 65px;
    left: -46px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfOrange h1 {
    display: flex;
	align-items: baseline;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfOrange span {
    background: url(../images/runfullorange.png) no-repeat;
    width: 72px;
    height: 38px;
    margin:  5px 10px 0 0;
	line-height: 52px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfOrange span.rFirstBlue {
    background: url(../images/runfirstBlue.png) no-repeat;
    height: 24px;
    line-height: 24px;
}
.containerRun .runScrollBottomTwo .runScrollBottomRight ul li a .liPos.rfOrange span.rSecondBlue {
    background: url(../images/runthirdBlue.png) no-repeat;
    height: 24px;
    line-height: 24px;
}
.containerRun .runBottomRightOne .btnBox {
	float: right;	
	margin: 0 73px 26px 0;
}
.containerRun .runBottomRightOne .btnBox .btnPos {
	position: relative;	
	float: left;
}
.containerRun .runBottomRightOne .btnBox button {
    position: relative;
    background: #fd7d00;
    border-radius: 10px 0 10px 10px;
    padding: 12px 15px;
    margin-left: 4px;
    font-size: 12px;
    word-spacing: 14px;
    color: #fff;
}
.containerRun .runBottomRightOne .btnBox button.extraBtn {
	padding: 12px 30px;
}
.containerRun .runBottomRightOne .btnBox button.lastBtn {
	border-radius: 10px;
	position: relative;
	padding: 12px 32px;
}
.containerRun .runBottomRightOne .btnBox button.lastBtn:before {
    content: '';
    position: absolute;
    border: 1px solid #fd9d3f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 102px;
    height: 30px;
    top: 3px;
    left: 4px;
}
.containerRun .runBottomRightOne .btnBox b {
    position: absolute;
    top: -1px;
    right: 4px;
    font-size: 11px;
    color: #fe0000;
    cursor: pointer;
    z-index: 5;
    font-weight: bold;
}
.containerRun .runBottomRightTwo {
	background-color: #fafafa;
	min-height: 226px;
}
.containerRun .runBottom .runRepeat {
	width: 23.45%;
    padding: 25px 0 0 1.5%;
	border-right: 1px solid #e5e5e5;
	min-height: 201px;
}
.containerRun .runBottom .runRepeatFour {
	border-right: 0;
}
.containerRun .runBottom .runRepeatTop {
	margin-bottom: 5px;	
}
.containerRun .runBottom .runRepeatTop h2 {
	font-size: 14px;	
	color: #0c0c0c;
	line-height: 20px;
}	
.containerRun .runBottom .runRepeatTop form {
	position: relative;
    background: #e4e4e4;
    border-radius: 35px;
    padding: 3px 10px;
    margin-left: 12%;
    display: flex;
}
.containerRun .runBottom .runRepeatTop  .radioOne {
	margin-left: 29px;
}
.containerRun .runBottom .runRepeatTop form label {
	font-size: 12px;	
	color: #686868;
}	
.containerRun .runBottom .runRepeatTop form input {
    text-align: left;
    color: #0c0c0c;
    font-size: 12px;
    line-height: 16px;
    padding: 0 0px 0 5px;
    border-radius: 35px;
    text-indent: 5px;
    height: 14px;
    width: 51px;
} 
.containerRun .runBottom .runRepeatTop .radioOne label  {
	font-size: 12px;
	color: #747474;
}
.containerRun .runBottom .runRepeatTop form span {
	position: absolute; 
	right: 20px;
	top: 3px;
	color: #cccccc;
	font-size: 12px;
}
.containerRun .runBottom .runRepeat .timeLink li {
	float: left;
	margin: 10px 0 0 9%;
}
.containerRun .runBottom .runRepeat .timeLink li:nth-child(4n+1) {
	margin-left: 4.2%;
}
.containerRun .runBottom .runRepeatOne .timeLink li a {
	background-color: #a1f7c9;
}
.containerRun .runBottom .runRepeatTwo .timeLink li a {
	background-color: #42f0c5;
}
.containerRun .runBottom .runRepeatThree .timeLink li a {
	background-color: #fdcfa3;	
}
.containerRun .runBottom .runRepeatFour .timeLink li a {
	background-color: #d9d9d9;	
}
.containerRun .runBottom .runRepeatThree .radioOne,
.containerRun .runBottom .runRepeatFour .radioOne {
	display: none;
}
.containerRun .runBottom .runRepeat .mCSB_scrollTools .mCSB_dragger {
	background: #e4e4e4;
}
.containerRun .runBottom .runRepeat .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #fff;
    height: 100px;
    margin: 8px 4px;
}
@media only screen and (max-width:1750px) {
	.containerRun .firstUlBox ul li a {
		padding: 17px 6px;
	}	
	.containerRun .runTopStrip .runTopStripRight button {
		padding: 4px 15px;
	}
}
@media only screen and (max-width:1880px) {
	.containerRun .runBottom .runRepeat {
		width: 23%;
	}	
	.containerRun .runBottom .runRepeatTop .radioOne {
		margin-left: 7px;
	}
	.containerRun .runBottom .runRepeat .timeLink li {
		margin: 10px 0 0 4%;	
	}
	.containerRun .runBottom .runRepeatTop form {
		margin-left: 2%;	
	}
}

/*.rpWrapper .rpOne start here*/
.rpWrapper {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	z-index: 1000;
	height: 100%;
	margin: 0 auto;
	background: rgba(25,25,25,.65);
}

.rpWrapper .rpOne {
    width: 45%;
    margin: -349px auto;
    padding: 0 10px 50px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
}
.rpWrapper .rpOne .margrightz {
	margin-left: 60px;
}
.rpWrapper .rpOne .popcross {
	float:right;
	margin-top:10px;
	cursor:pointer;
}
.rpWrapper .rpOne .selText {
	font-size:14px;
	color:#0c0c0c;
	padding:3px 0;
}
.rpWrapper .rpOne .radiomainsec {
	padding: 55px 20px 40px 0;
}
.rpWrapper .rpOne h1 {
	color: #0c0c0c;
	font-size: 18px;
	padding: 45px 0 35px 0px;
	font-weight: bold;
}
.rpWrapper .rpOne .radioOne {
	margin:0 40px 0 0px;
}
.radioLbl {
	padding-left: 5px;
}
.rpWrapper .rpOne .tablescroll {
	margin-right:30px;
}
.rpWrapper .rpOne .tablescroll table {
	width: 96.6%;
	border-bottom: 2px solid #dedede;
}
.rpWrapper .rpOne .scrollsetstart table {
	width: 100%;
}
.rpWrapper .rpOne .tablescroll tr th:first-child {
	padding-left: 0;
	width:25%;
}
.rpWrapper .rpOne .tablescroll tr th:nth-child(2) {
	width:22%;
}
.rpWrapper .rpOne .tablescroll tr th {
	color: #141414;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	width: 16%;
	padding: 20px 0 20px 0;
}
.rpWrapper .rpOne .scrollsetstart tr th:first-child {
	padding-left: 0;
}
.rpWrapper .rpOne .scrollsetstart tr th {
	color: #141414;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	width: 16%;
	padding: 20px 0 20px 15px;
}
.rpWrapper .rpOne .scrollsetstart tr {
	padding-left: 22px;
	display: inline-flex;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.rpWrapper .rpOne .scrollsetstart tr td .number {
	font-size: 12px;
	color: #7f7f7f;
	display: block;
	padding: 5px 0 0 25px;
}
.rpWrapper .rpOne .scrollsetstart tbody tr {
	padding: 8px 0px 8px 22px;
	min-height: 30px;
}
.rpWrapper .rpOne .tablescroll tr {
	padding-left: 22px;
	display: inline-flex;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.rpWrapper .rpOne .tablescroll tr:first-child {
	border-bottom: none;
}
.rpWrapper .rpOne .scrollsetstart tr td {
	color: #141414;
	font-size: 14px;
	text-align: left;
	width: 16%;
	display: flex;
	align-items: center;
}
.rpWrapper .rpOne .scrollsetstart tr:first-child td:last-child a {
	color: #fd7d00;
}
.rpWrapper .rpOne .scrollsetstart tr:nth-child(2) td:last-child a {
	color: #436bff;
}
.rpWrapper .rpOne .scrollsetstart tr:nth-child(3) td:last-child a {
	color: #436bff;
}
.rpWrapper .rpOne .scrollsetstart tr:nth-child(4) td:last-child a {
	color: #fd7d00;
}
.rpWrapper .rpOne .scrollsetstart tr:nth-child(5) td:last-child a {
	color: #436bff;
}
.rpWrapper .rpOne .scrollsetstart tr:nth-child(7) td:last-child a {
	color: #fd7d00;
}
.rpWrapper .rpOne .scrollsetstart tr:nth-child(6) td:last-child span:first-child {
	margin-right: 30px;
}
.rpWrapper .rpOne .scrollsetstart tr td:nth-child(1) {
	display: block;
	width:25%;
}
.rpWrapper .rpOne .scrollsetstart tr td:nth-child(2) {
	width:22%;
}
.rpWrapper .rpOne .scrollsetstart tr:hover {
	background: #f1fef6;
	cursor: pointer;
	transition: all .2s;
}
.rpWrapper .rpOne .tablescroll tr td .number {
	font-size: 12px;
	color: #7f7f7f;
	display: block;
	padding: 5px 0 0 20px;
}
.rpWrapper .rpOne .scrollsetstart {
	height: 350px;
	margin-right:30px;
}
.rpWrapper .rpOne .tablescroll tbody tr {
	padding: 14px 0px 14px 22px;
	min-height: 30px;
}
.rpWrapper .rpOne .scrollsetstart .mCSB_scrollTools {
	background:#eeeeee;
	width:10px;
}
.rpWrapper .rpOne .scrollsetstart .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.rpWrapper .rpOne .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width:4px !important;
	margin:3px auto 0 auto;
	background-color:#fff !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	-webkit-box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
	-moz-box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
	box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
}
/*.rpWrapper .rpOne end here*/


/*miniRpOne starts*/
.miniSame {
	position: fixed;
	background: rgba(255,255,255,.9);
	border-radius: 10px;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);   
    z-index: 555;
}
.miniRpOne {
    top: 128px;
    left: 95px;
    width: 330px;
	padding: 20px 0 90px 0;
	display: none;
}
.miniRpOne .arrow-up,
.miniRpTwo .arrow-up,
.miniRpFour .arrow-up,
.MapPop .arrow-up {
	width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
}
.miniRpOne h1 {
	font-size:18px;
	color:#0c0c0c;
	font-weight:bold;
	padding:15px 0 20px 40px;
}
.miniRpOne .chkSet {
	margin-left: 65px;
    width: 38%;
}
.miniRpOne .chkSet .radioOne {
	float:left;
	padding:7px 0;
}
.miniRpOne .chkSet .checkText {
	font-size:14px;
	color:#141414;
	padding-left:20px;
	cursor:pointer;
}
.miniRpOne .arrowPos {
	position: absolute;
    top: -14px;
    right: 112px;
}
.miniRpOne .redCross {
	width: 11px;
    position: absolute;
    top: 5px;
    right: 10px;
	cursor:pointer;
}
/*miniRpOne ends*/

/*miniRpTwo starts*/
.miniRpTwo {
	top:181px;
	right:28px;
	width:600px;
	padding:35px 40px;
	display: none;
}
.miniRpTwo h1 {
	font-size:18px;
	color:#0c0c0c;
	font-weight:bold;
	padding:7px 0;
}
/*splSet*/
.miniRpTwo .myselect,
.splSet .myselect {
	width:108px;
}
.miniRpTwo .myselect input,
.splSet .myselect input {
	font-size:12px;
	color:#0c0c0c;
}
.miniRpTwo .textWidth ,
.splSet .textWidth{
	width:103px !important;
}
.miniRpTwo .myselect .nice-select,
.rpWrapper .rpTwo .myselectOne .nice-select,
 .MapPop .mySelectz,
 .splSet .myselect .nice-select,
 .rpWrapper .rpOne .myselect .nice-select {
	background-color:#f4f4f4;
}
.miniRpTwo .selText,
.splSet .selText {
	width:80px;
	font-size:14px;
	color:#0c0c0c;
	text-align:right;
	padding: 4px 0px 4px 0px;
}
.miniRpTwo .wholeSet .selectSet {
	margin: 0 0 20px 18px;
}
.splSet ,
.splSet .texAreaSet {
	padding:20px 0;
}
.splSet .wholeSet .selectSet {
	margin:0 0 20px 18px;
}
.splSet .texAreaSet .mytxtArea {
	background: #f4f4f4;
    min-height: 75px;
    padding: 7px;
    width: 535px;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	resize:none;
}
.splSet .texAreaSet label {
	font-size:14px;
	color:#0c0c0c;
	padding:7px 0;
}
.splSet .myBtnSet {
	padding:10px 0;
}
.splSet .myBtnSet .nxtBtn {
	width:120px;
	font-size:14px;
	color:#0c0c0c;
	letter-spacing:5px;
	padding:10px 0;
	border:1px solid #dedede;
	border-radius:7px;
	background:transparent;
}
.splSet .myBtnSet .btnActive {
	background:#08e671;
	color:#fff;
	border:1px solid #08e671;
}
.splSet .myBtnSet .nxtBtn:nth-child(2) {
	margin-left:20px;
}
.miniRpTwo .wholeSet .selectSet:nth-child(3n+1),
.splSet .wholeSet .selectSet:nth-child(3n+1) {
	margin-left:0;
}
.miniRpTwo .buttenSet ,
.rpTwo .buttenSet {
	width:210px;
	float:right;
	margin-bottom:50px;
	border:1px solid #dadada;
	border-radius:10px;
}
.miniRpTwo .buttenSet .selBtn ,
.rpTwo .buttenSet .selBtn{
	width:100px;
	background:transparent;
	font-size:14px;
	color:#fd7d00;
	padding:8px 0;
}
.miniRpTwo .buttenSet .wronBtn,
.rpTwo .buttenSet .wronBtn {
	background:url(../images/ogclose.png) no-repeat;
	width:11px;
	height:11px;
	display:inline-block;
	background-size:100% 100%;
	margin-right:10px;
}
.miniRpTwo .buttenSet .trueBtn,
.rpTwo .buttenSet .trueBtn  {
	background:url(../images/greentick.png) no-repeat;
	width:15px;
	height:10px;
	display:inline-block;
	background-size:100% 100%;
	margin-right:10px;
}
.miniRpTwo .greenText,
.rpTwo .greenText {
	color:#08e671 !important;
}
.miniRpTwo .textBoxOne ,
.splSet .textBoxOne {
	width:100%;
	height:20px;
	line-height:20px;
	color:#0c0c0c;
	font-size:12px;
	border-radius: 4px;
	background-color:#f4f4f4;
	text-indent:5px;
}
.miniRpTwo .radioSet {
	padding:15px 0;
}
.miniRpTwo .radioSet .smallText {
	font-size:14px;
	color:#747474;
	cursor:pointer;
}
.miniRpTwo .radioSet .radioOne:last-child {
	margin-left:30px;
}
.miniRpTwo .tableSet{
	width:590px;
}
.miniRpTwo .tableSet .tableOne tr{
	border-bottom:2px solid #dedede;
}
.miniRpTwo .tableSet .tableTwo tr{
	border-bottom:1px solid #dedede;
}
.miniRpTwo .tableSet .tableOne tr td {
	width:100px;
	font-size:16px;
	color:#141414;
	padding:15px 10px 15px 25px;
}
.miniRpTwo .tableSet .tableOne tr td:nth-child(3) {
	padding-left:13px;
}
.miniRpTwo .tableSet .tableOne tr td:nth-child(2n+2){
	width:150px;
}
.miniRpTwo .tableSet .tableTwo tr td {
	width:100px;
	font-size:14px;
	color:#141414;
	padding:15px 10px 15px 25px;
}
.miniRpTwo .tableSet .tableTwo tr td:nth-child(2n+2) {
	width:150px;
}
.miniRpTwo .tableSet .tableTwo tr td:nth-child(2) {
	padding-left:35px;
}
.miniRpTwo .tableSet .tableTwo tr td:nth-child(2) {
	color:#fd7d00;
	padding-left:50px;
}
.miniRpTwo .tableSet .tableTwo tr:hover ,
.rpWrapper .rpTwo .tableThree tr:hover {
	background:#f1fef6;
}
.miniRpTwo .tableBody {
	height:220px;
}
.miniRpTwo .arrowPos,
.miniRpFour .arrowPos {
	position: absolute;
    top: -15px;
    right: 200px;
}
.MapPop .arrowPos {
    position: absolute;
    bottom: -14px;
    left: 30px;
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/*miniRpTwo ends*/

/*rpTwo starts*/
.rpWrapper .rpTwo{
	position:relative;
	top:50%;
	width:680px;
	background:#fff;
	padding:25px 0;
	margin:-200px auto;
	border-radius: 10px;
	display:none;
	-webkit-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
	box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
}
.rpWrapper .rpTwo .cross {
	width:12px;
	position:absolute;
	top:5px;
	right:10px;
	cursor: pointer;
}
.rpWrapper .rpTwo .rpContents{
	padding:0 40px;
}
.rpWrapper .rpTwo .rpContents .setOne {
	width:160px;
	padding:8px 0;
	margin-left:45px;
}
.rpWrapper .rpTwo .rpContents .setOne:nth-child(3n+1) {
	margin-left:0;
}
.rpWrapper .rpTwo .rpContents h1 {
	font-size:18px;
	color:#0c0c0c;
	font-weight:bold;
	padding:15px 0;
}
.rpWrapper .rpTwo .rpContents h2,
.rpWrapper .rpTwo .rpContents h3 {
	font-size:14px;
	color:#0c0c0c;
}
.rpWrapper .rpTwo .myselectOne {
	width:190px;
}
.rpWrapper .rpTwo .fullSet .setOne:nth-child(5) {
	width:270px;
}
.rpWrapper .rpTwo .buttenSet{
	margin:	15px 0;
}
.rpWrapper .rpTwo .tableThree tr td{
	width:100px;
	font-size:14px;
	color:#141414;
	padding:15px 0 15px 20px;
}
.rpWrapper .rpTwo .tableThree {
	padding:20px 0;
}
.rpWrapper .rpTwo .tableThree tr td:nth-child(2) {
	width:200px;
}
.rpWrapper .rpTwo .tableThree tr td span {
	width: 12px;
    margin: auto;
    display: block;
}
.rpWrapper .rpTwo .tableThree tr {
	border-top:1px solid #dedede;
}
.rpWrapper .rpTwo .scrollSec {
	height:300px;
}
.rpWrapper .rpTwo .splText{
	color:#a8a7a7 !important;
	text-align: center;
}
.rpWrapper .rpTwo  .mCSB_scrollTools {
	background:#eeeeee;
	width:10px;
}
.rpWrapper .rpTwo  .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.rpWrapper .rpTwo .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.miniRpTwo .rpTwo .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.miniRpTwo .rpTwo  .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width:4px !important;
	margin:3px auto 0 auto;
	background-color:#fff !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	-webkit-box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
	-moz-box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
	box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
}
/*miniRpThree starts here*/

/* miniRpFour Start Here */
.miniRpFour {
    top: 134px;
    right: 31px;
    width: 31%;
    padding: 40px 40px 50px 40px;
    display: none;
    height: 726px;
    overflow: hidden;
    overflow-y: scroll;
}
.miniRpFour .arrowPos {
	right: 61px;	
}
.miniRpFour .h2Pos {
	position: relative;
}
.miniRpFour .h2Pos .bottomText {
	position: absolute;
	bottom: 0;
    background: #b6e1ca;
    padding: 2px 0;
    font-size: 12px;
    color: #fff;
    width: 140px;
    text-align: center;
}
.miniRpFour .rpFourBox {
	background-color: #f7f7f8;
	margin-bottom: 20px;	
}
.miniRpFour .rpFourBox:nth-child(4) {
	margin-bottom: 0;
	-webkit-box-shadow: inset 0px -41px 60px -21px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0px -41px 60px -21px rgba(0,0,0,.2);
    box-shadow: inset 0px -41px 60px -21px rgba(0,0,0,.2);
}
.miniRpFour .rpFourBox .rpFourBoxWrapper {
	padding: 0 0 56px 0;
	width: 699px;	
}
.miniRpFour .rpFourBox .rpFourBoxWrapper.forTextUp {
	padding: 122px 0 0 0;	
}
.miniRpFour .rpFourBoxWrapper .rpFourBoxR {
	padding-top: 4px;	
}
.miniRpFour .rpFourBoxWrapper.forTextUp .rpFourBoxR {
	padding-top: 11px;	
	max-height: 13px;
}
.miniRpFour .rpFourBox h2 {
	background: url(../images/runorangearrow.png) no-repeat right 4px;
	padding: 0 25px;
	margin-right: 25px;
	font-size: 14px;
	color: #0c0c0c;	
}
.miniRpFour .rpFourBox ul li {
	float: left;	
}
.miniRpFour .rpFourBox .forTextUp ul li a {
    background: url(../images/runscrolldot.png) no-repeat center bottom;
    padding: 0 0 22px 0;
    margin-top: -6px;
    transform: translate(0,-59px);
}
.miniRpFour .rpFourBox .forTextUp h2 {
	background: url(../images/runredarrow.png) no-repeat right 4px;	
}
.miniRpFour .rpFourBox ul li a {
	position: relative;
    background: url(../images/runscrolldot.png) no-repeat center 0;
    font-size: 14px;
    color: #0c0c0c;
    width: 13px;
    padding-top: 22px;
	margin-top: -6px;
	text-align: center;
}
.miniRpFour .rpFourBox  ul li a .liPos {
    position: absolute;
    top: -6px;
    left: 17px;
}
.miniRpFour .rpFourBox .forTextUp ul li a .liPos {
	top: 29px;
	left: 40px;	
}
.miniRpFour .rpFourBox .forTextUp ul li a.firstDot .liPos {
	left: 24px;	
}
.miniRpFour .rpFourBox ul li a .liPos h1 {
	background: #fff;
	padding: 1px 8px;
	margin: 10px 0 0 0;	
    font-size: 12px;
    color: #9b9b9b;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.2);
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,.2);
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
.miniRpFour .rpFourBox .forTextUp ul li a .liPos h1 {
	margin: 0 0 10px 0;	
}
.miniRpFour .rpFourBox ul li a .liPos button {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 6px rgba(8,230,113,.1), 0 10px 20px rgba(0,0,0,.3), inset 0 0 7px rgba(33,196,110,.35);
	-moz-box-shadow: 0 0 6px rgba(8,230,113,.1), 0 10px 20px rgba(0,0,0,.3), inset 0 0 7px rgba(33,196,110,.35);
	box-shadow: 0 0 6px rgba(8,230,113,.1), 0 10px 20px rgba(0,0,0,.3), inset 0 0 7px rgba(33,196,110,.35);
}
.miniRpFour .rpFourBox ul li span {
	display: block;
	height: 1px;
}
.miniRpFour .rpFourBox ul li span.sBgGreen {
	background-color: #08e671;
}
.miniRpFour .rpFourBox ul li span.sBgRed {
	background-color: #fd0000;
}
.miniRpFour .rpFourBox ul li span.sBgOrange {
	background-color: #fd7d00;
}
.miniRpFour .rpFourBox .forTextUp ul li span.firstBr {
	width: 40px;
}
.miniRpFour .rpFourBox ul li span.firstBr {
	width: 20px;
}
.miniRpFour .rpFourBox ul li span.secondBr {
	width: 91px;
}
.miniRpFour .rpFourBox .forTextUp ul li span.secondBr {
	width: 71px;
}
.miniRpFour .rpFourBox ul li span.thirdBr {
	width: 60px;
}
.miniRpFour .rpFourBox ul li span.FourthBr {
	width: 64px;
}
.miniRpFour .rpFourBox .forTextUp ul li span.FourthBr {
	width: 80px;
}
.miniRpFour .rpFourBox ul li span.FifthBr {
	width: 54px;
}
.miniRpFour .rpFourBox ul li span.sixthBr {
	width: 123px;
}
.miniRpFour .rpFourBox .forTextUp ul li span.sixthBr {
	width: 89px;
}
.miniRpFour .rpFourBox ul li span.seventhBr {
	width: 97px;
}
.miniRpFour .mCSB_horizontal.mCSB_inside > .mCSB_container {
	margin-bottom: 0;
} 
.miniRpFour .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: 0px;
    left: 140px;
    background: #edecec;
    height: 18px;
}
.miniRpFour .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #fdfdfd url(../images/runrpfourscrollimg.png) no-repeat;
	width: 150px;
	height: 10px;
	margin: 4px 0;
}
.miniRpFour .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.miniRpFour .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.miniRpFour .mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { 
	background-color: rgba(0,0,0,0);
}
.miniRpFour .redCross,
.miniRpTwo .redCross {
    width: 11px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
/* miniRpFour Start Here */

.RunPopContainer .miniRpThree {
    display: none;
    position: fixed;
    width: 97.35%;
    left: 50px;
	top: 71px;
	box-shadow: none;
}
.RunPopContainer .miniRpThree .miniRpThreeContent {
	width:94%;
	margin:0 auto;
	position:relative;
}
.RunPopContainer .miniRpThree .selectionBox {
	background:#f4f4f4;
	padding:15px 0px;
}
.RunPopContainer .miniRpThree .selectionBox .niceOne h1 {
	font-size:14px;
	color:#696969;
	padding:2px 0px;
	margin-left:38px;
}
.RunPopContainer .miniRpThree .selectionBox .niceOne .nice-select{
	width:100px;
	margin:0px 0px 0px 6px;
}
.RunPopContainer .miniRpThree .selectionBox .orangeBtn {
	background:#fd7d00;
	font-size:14px;
	color:#fff;
	width:117px;
	height:22px;
	line-height:22px;
	text-align:center;
	border-radius:10px;
	margin-left:70px;
}
 .RunPopContainer .miniRpThree .selectionBox .circleArrow {
	 width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff url(../images/arrowrightpoint.png) no-repeat 59% 50%;
	-webkit-box-shadow: 0 6px 10px rgba(20,28,29,.2);
	-moz-box-shadow: 0 6px 10px rgba(20,28,29,.2);
	box-shadow: 0 6px 10px rgba(20,28,29,.2);
	margin:-8px 38px 0px 0px;
 }
  .RunPopContainer .miniRpThree .mainTab .TabbedPanelsTabGroup li {
	  float:left;
	  width:124px;
	  margin-right:40px;
	  font-size:16px;
	  color:#747474;
	  border-bottom:4px solid #fff;
	  outline:none;
	  margin-top:42px;
	  line-height:42px;
}
.RunPopContainer .miniRpThree .mainTab .TabbedPanelsTabGroup li.TabbedPanelsTabSelected {
	font-size:18px;
	color:#1a1a1a;
	font-weight:bold;
	border-bottom:4px solid #b6e1ca;
}
.RunPopContainer .miniRpThree .buttonSet {
	width:330px;
	position:absolute;
	right:0px;
	top:38px;
}
.RunPopContainer .miniRpThree .buttonSet button{
	background:#d6eee1;
	font-size:12px;
	color:#b7b7b7;
	width:100px;
	height:30px;
	line-height:30px;
	margin-left:10px;
}
.RunPopContainer .miniRpThree .mainTab .tableOne {
	margin-top:35px;
}
.RunPopContainer .miniRpThree .mainTab .tableOne th {
	font-size:16px;
	color:#141414;
	font-weight:bold;
}
.RunPopContainer .miniRpThree .mainTab .tableOne th span{
	font-size:11px;
	display:block;
	padding: 3px 0px 8px 0px;
}
.RunPopContainer .miniRpThree .mainTab .tableOne thead tr {
	border-bottom:2px solid #e4e4e4 !important;
}
.RunPopContainer .miniRpThree .mainTab .setOne {
	width:56px;
}
.RunPopContainer .miniRpThree .mainTab .setTwo {
	width:68px;
}
.RunPopContainer .miniRpThree .mainTab .setThree {
	width:65px;
}
.RunPopContainer .miniRpThree .mainTab .setFour {
	width:125px;
}
.RunPopContainer .miniRpThree .mainTab .setFive {
	width:78px;
}
.RunPopContainer .miniRpThree .mainTab .setSix {
	width:70px;
}
.RunPopContainer .miniRpThree .mainTab .setSeven {
	width:90px;
}
.RunPopContainer .miniRpThree .mainTab .setEight {
	width:182px;
}
.RunPopContainer .miniRpThree .mainTab .setNine {
	width:123px;
}
.RunPopContainer .miniRpThree .mainTab .setTen {
	width:76px;
}
.RunPopContainer .miniRpThree .mainTab .setEleven {
	width:87px;
}
.RunPopContainer .miniRpThree .mainTab .seTweleve {
	width:77px;
}
.RunPopContainer .miniRpThree .mainTab .setThrtn {
	width:90px;
}
.RunPopContainer .miniRpThree .mainTab  .setFrtn {
	width:165px;
}
.RunPopContainer .miniRpThree .mainTab .setFvtn {
	width:74px;
}
.RunPopContainer .miniRpThree .mainTab .setSixtn {
	width:76px;
}
.RunPopContainer .miniRpThree .mainTab .setSeventn {
	width:90px;
}
.RunPopContainer .miniRpThree .mainTab .setEgtn {
	width:90px;
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr td {
	text-align:center;
	font-size:14px;
	color:#141414;
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr {
	border-bottom:1px solid #e0e0e0;
	width:100%;
	display:flex;
	align-items:center;
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr:last-child {
	border-bottom:none;
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr:hover {
	background:#f1fef6;
	cursor:pointer;
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr td.col {
	color:#fff;
	font-size:12px;
	padding: 18px 0px;
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr td span.smallNum {
	font-size:8px;
	display:block;
	margin-top:4px;
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr td.colorOne {
	background: #77deff; 
	background: -moz-linear-gradient(45deg, #77deff 0%, #77deff 3%, #95e5ff 100%); 
	background: -webkit-linear-gradient(45deg, #77deff 0%,#77deff 3%,#95e5ff 100%); 
	background: linear-gradient(45deg, #77deff 0%,#77deff 3%,#95e5ff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77deff', endColorstr='#95e5ff',GradientType=1 ); 
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr td.colorTwo {
	background: #fed78d; 
	background: -moz-linear-gradient(45deg, #fed78d 0%, #fed68b 3%, #ffe4af 100%); 
	background: -webkit-linear-gradient(45deg, #fed78d 0%,#fed68b 3%,#ffe4af 100%); 
	background: linear-gradient(45deg, #fed78d 0%,#fed68b 3%,#ffe4af 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed78d', endColorstr='#ffe4af',GradientType=1 ); 
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr td.colorThree {
	background: #8ef3a9; 
	background: -moz-linear-gradient(45deg, #8ef3a9 0%, #ecbefb 2%, #f4d3ff 100%); 
	background: -webkit-linear-gradient(45deg, #8ef3a9 0%,#ecbefb 2%,#f4d3ff 100%); 
	background: linear-gradient(45deg, #8ef3a9 0%,#ecbefb 2%,#f4d3ff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef3a9', endColorstr='#f4d3ff',GradientType=1 ); 
}
.RunPopContainer .miniRpThree .mainTab .tableTwo tr td.colorFour {
	background: #8ef3a9; 
	background: -moz-linear-gradient(45deg, #8ef3a9 0%, #a9ffc0 100%); 
	background: -webkit-linear-gradient(45deg, #8ef3a9 0%,#a9ffc0 100%); 
	background: linear-gradient(45deg, #8ef3a9 0%,#a9ffc0 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef3a9', endColorstr='#a9ffc0',GradientType=1 ); 
}
.RunPopContainer .miniRpThree .mainTab .scrollsetstart {
	height: 530px;
	margin-right:30px;
	width:100%;
}
.RunPopContainer .miniRpThree .mainTab .mCSB_scrollTools {
	background:#eeeeee;
	width:10px;
}
.RunPopContainer .miniRpThree .mainTab .scrollsetstart .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.RunPopContainer .miniRpThree .mainTab .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width:4px;
	margin:3px auto 0 auto;
	background-color:#fff !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	-webkit-box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
	-moz-box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
	box-shadow: 0 2px 2px rgba(38,18,1,.12) !important;
}

/*miniRpThree ends here*/
/**status*/
.niceMnice {
	background-color:#f4f4f4 !important;
}
.niceMnice input{
	font-size:12px !important;
	color:#a7a7a7 !important;
}
.MapPop.runMapStyle {
    position: absolute;
    bottom: 115px;
    left: 403px;
    display: none;
	z-index: 55;
}
.MapPop .mainOne,
.MapPop .mainTwo,
.MapPop .splSet {
	display: none;	
}

.runstatusPopOne .statusPop {
	top: 189px;
	left: 915px;	
}
/* containerRun End Here */