@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
    body{
        font-family: 'Roboto', sans-serif;
           font-style: normal;

            font-weight:normal;
            color: #000;
            text-decoration: none;
            margin:0px;
            -webkit-font-smoothing: antialiased;
            padding:0;
            /*font-size-adjust:0.5;*/
            font-weight:300;
            background-color:#fff;


        }
        a{color:#000; text-decoration:none;text-decoration: none;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;}


.log-inn{
    background: url(../images/log-ban.jpg) no-repeat center 0;
    width: 100%;
    height: 100vh;
}

.loginbox{
    width: 320px;
    height: 420px;
    border-radius: 14px;
    background: rgba(255, 245, 245, 0.75);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    -webkit-box-shadow: 1px 6px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 6px 8px 0px rgba(0,0,0,0.75);
box-shadow: 1px 6px 8px 0px rgba(0,0,0,0.75);
}
.loginbox h1{
    color:#000;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 11px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #00d5ff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #0ce30c;

}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:#000;
}

.loginbox a:hover
{
    color: #00d5ff;
}


.top-txt {
    background: #00952e;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
}
.fl.last:hover{
    background: #00952e;
}
.statusMain1 {
   padding: 0 20px;    background: #fafafa;
}
.fl.last{
    height: 40px;
    padding: 10px 20px;
    background: red;
    color: #fff;
}
.statusMain2 {
    padding-top: 163px;
}
.img-r {
    display: inline-block;
    padding: 0 10px;
}
.top-head {
    background: #000;
    padding: 15px 0;

}
.top-headd .fr li {
    display: inline-block;
    filter: brightness(1) invert(1);
    padding: 5px;
    width: 36px;
    text-align: center;
}
.top-headd {
    background: #000;
    padding: 0px 0;
    width: 100%;
    float: left;
}
.top-headd .fr {
    float: right;
}
.all-one {
    margin-top: 20px;
    width: 100%;
    float: left;
}
.top-headd .log-top {
    color: #fff;    padding-top: 20px;
    float: left;
}
.wid{max-width:1200px;margin:0 auto;}
.log-top {
    color: #fff;
}
.top-head .fr li {
    display: inline-block;
    filter: brightness(1) invert(1);
    padding: 5px;
    width: 36px;
    text-align: center;
}
.full-cvr {
    margin-top: 0;
    text-align: center;
    background: #9dd7d4;
position: relative;
width: 100%;
height: 100vh;

}
.full-cvr ul{
    position: absolute;
    content: "";
    top:35%;
    width: 100%;
    left: 0;
    right: 0;
}
.full-cvr li {
     display: inline-block;
    width: 200px;
    height: 162px;
    margin: 15px;
    color: #000;
    background: #fff;
    position: relative;
    padding: 41px 0px 0;
    border-radius: 100%;

}
.full-cvr li img:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.full-cvr li label {
    width: 100%;
    font-weight: 600;
    display: block;
    margin-top: 20px;
    text-shadow: 1px 1px 1px #000;
}
.popup {  }
  .p_content {    box-sizing: border-box;    font-size: 23px;        padding: 1px 0;   text-align: center;    width: 100%;}
  .p_content ul {  list-style: outside none none !important;  margin: 0;padding: 0;box-sizing: border-box;  }
  .p_content ul:after {clear:both;display:block;content:"";}
  .p_content ul li{  list-style: outside none none !important;padding: 0;float:left;width:100%;box-sizing: border-box;margin-bottom: 20px;  }
  .p_content ul li input[type="text"], .p_content ul li input[type="email"], .p_content ul li input[type="phone"], .p_content ul li input[type="tel"]{/*border:1px #ccc solid;height:40px;padding:10px;width:100%;box-sizing: border-box;font-weight: 600;font-size: 17px;*/  }
  .p_content ul li textarea{/*border:1px #ccc solid;height:150px;padding:10px;width:100%;box-sizing: border-box;font-weight: 600;font-size: 17px; */ }
  .p_content ul li input[type="submit"], .p_content ul li input[type="button"]{/*border:1px #ccc solid;height:30px;padding:0 10px;color:#fff;background:#ad1d24;box-sizing: border-box;*/}
  .p_content ul li:nth-child(5) input[type="text"]{/*width:40%;float:right;*/}
  .p_close {background-color: #fff;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-repeat: no-repeat;
    margin: 10px 30px -2px 0;
    background-image: url(../images/cross.png);
    background-position: 51% 50%;}
  .js__popup {}
  .js__p_start {}
  .js__p_close {}
  .js__p_body {background: rgba(0, 0, 0, 0.5);  bottom: 0;  height: 100%;  left: 0;  position: fixed;  right: 0;  top: 0;  width: 100%;}
  .js__slide_top { height:433px; overflow:hidden; top:0; }
  .js__fadeout { height:0; overflow:hidden; opacity:0; }

  .js__p_start {
    background: red;
    padding: 15px 20px;
    color: #fff;
}
.js__p_start:hover {
    background: #40ba2a;
}


  .js__slide_top { height:0; overflow:hidden; top:0; }
  .popup {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 50%;
    margin-left: -540px !important;
    margin-top: 0px;
    background: #fff;
    width: 80%;
    -moz-transition: top 800ms;
    -o-transition: top 800ms;
    -webkit-transition: top 800ms;
    transition: top 800ms;
}
.p_content .fl{
    width: 49%;
    text-align: left;
    padding-left: 15px;

}
.p_content .fl li input {
    width: 60%;
}
.p_content .fr li input {
    width: 69%;
}
.p_content .fr .selectbox {
    width: 71%;
}
.checkmark {
    position: absolute;
    top: 4px;
    left: 7px;
    height: 13px;
    border-radius: 100px;
    width: 8px;
    background: #ccc;
}
.con .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .con {
    display: block;
    position: relative;
    padding-left: 35px;    text-align: left !important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size:16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .check {
    margin-top: 60px;
    margin-bottom:60px;
}
  .con:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .con input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .con input:checked ~ .checkmark:after {
    display: block;
  }
.p_content .fr{
    width: 47%; text-align: left;

}
.p_content input{
    border: 1px solid #ccc;
}
.p_content input:hover{
    border: 1px solid #009edb;
}
.p_content h1 {
    background: #000;
    color: #ffff;
    padding: 10px;    margin-bottom: 20px;
}
.p_content span {
    color: #ccc;

}
.top-in {
    width: 84%;
    padding-left: 15px;
    margin-right: 0px;
    margin-bottom: 20px;
    font-size: 16px;
}
.p_content label span{
    padding-left: 5px;
    color: red;

}
.p_content input{
    font-size: 16px;

}
.p_content label {
    font-size: 18px;
    width: 142px;   text-align:left;
    display: inline-block;
}
.btn-cr {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    float: none;
    text-align: center;
}
.p_content textarea{
    width: 59%;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
}
.txtarea{
    margin-bottom: 50px !important;
}
.selectbox {
    width: 62%;
    height: 45px;
    padding: 10px;
    border-radius: 4px;

}
.subcat {

    min-height: 60px;
}
.btn-b {
margin-bottom:30px;
    background: red;
    height: 50px;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
}
.btn-b:hover{
    background: #00952e;
}
.bt-no{
    margin-bottom: 1px !important;
}
.form-cv{
	margin-top:30px;
}
.form-cv .p_content .fl {
    width: 50%;
}
.form-cv .p_content label {
    font-size: 18px;
    width: 100%;
    padding-bottom: 10px;
}
.form-cv .p_content .fl li input {
    width: 95%;
}
.form-cv .p_content .fr li input {
    width: 95%;
}
.form-cv .selectbox {
    width: 97%;
}
.form-cv .p_content textarea {
    width: 94%;
}
ul.resp-tabs-list { margin: 0px; padding: 0px; }
.resp-tabs-list li { font-weight: 600; font-size: 13px; display: inline-block;    height: 50px; border-right: 1px solid #fff;
    padding: 16px !important; margin: 0 0px 0 0; list-style: none; cursor: pointer; float: left; width:25% !important; background: #c80000  !important; color:#fff; }
.resp-tabs-container { padding: 0px; background-color: #fff; clear: left; }
div.resp-accordion { cursor: pointer; padding: 5px; display: none; }
.resp-tab-content { display: none; padding: 15px 0; }
.resp-tab-active { border: 1px solid #5AB1D0 !important; border-bottom: none; margin-bottom: -1px !important; padding: 12px 14px 14px 14px !important; border-top: 4px solid green  !important;    color: #000 !important; border-bottom: 0px #fff solid !important; }
.resp-tab-active { border-bottom: none; background-color: #fff; }
.resp-content-active, .resp-accordion-active { display: block; }
.resp-tab-content { background: #f6f6f6; }
div.resp-accordion { font-size: 13px; border: 1px solid #c1c1c1; border-top: 0px solid #c1c1c1; margin: 0px; padding: 10px 15px; }
div.resp-tab-active { border-bottom: 0px solid #c1c1c1 !important; margin-bottom: 0px !important; padding: 10px 15px !important; }
div.resp-tab-title:last-child { border-bottom: 12px solid #c1c1c1 !important; background: blue; }
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list { float: left; width: 30%; }
.resp-vtabs .resp-tabs-list li { display: block; padding: 15px 15px !important; margin: 0 0 4px; cursor: pointer; float: none; }
.resp-vtabs .resp-tabs-container { padding: 0px; background-color: #fff; border: 1px solid #c1c1c1; float: left; width: 68%; min-height: 250px; border-radius: 4px; clear: none; }
.resp-vtabs .resp-tab-content { border: none; word-wrap: break-word; }
.resp-vtabs li.resp-tab-active { position: relative; z-index: 1; margin-right: -1px !important; padding: 14px 15px 15px 14px !important; border-top: 1px solid; border: 1px solid #5AB1D0 !important; border-left: 4px solid #5AB1D0 !important; margin-bottom: 4px !important; border-right: 1px #FFF solid !important; }
.resp-arrow { width: 0; height: 0; float: right; margin-top: 3px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 12px solid #fff; }
div.resp-tab-active span.resp-arrow { border: none; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 12px solid #9B9797; }
/*-----------Accordion styles-----------*/
div.resp-tab-active { background: #DBDBDB;/* !important;*/ }
.resp-easy-accordion div.resp-accordion { display: block; }
.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }
.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1;/* !important;*/ }
.resp-jfit { width: 100%; margin: 0px; }
.resp-tab-content-active { display: block; }
div.resp-accordion:first-child { border-top: 1px solid #c1c1c1;/* !important;*/ }

.img-r img{
  filter: brightness(0)contrast();
}


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
 ul.resp-tabs-list { display: none;}
 div.resp-accordion { display: block;}
 .resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1;}
 .resp-vtabs .resp-tabs-container { border: none; float: none; width: 100%; min-height: 100px; clear: none;}
 .resp-accordion-closed { display: none !important;}
 .resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important;}
}

.p_content .nice-select {
    width: inherit !important;
}
.sl-box li{
    width: 20% !important;
    margin-bottom: 0 !important;
}
.sl-box .fl {
    width:auto !important;
    padding-left: 0;
}
.sl-box .statusMainInSec .niceOne {
   margin:0;

}
.sl-box .statusMainInSec .niceOne input {
    width: 90%;
    border-radius: 8px;

}
.sl-box .nice-select li{
    width: 100% !important;
}
.sl-box .statusMainInSecOne {
    padding: 5px 12px;
}
.sl-box .cov-1 {
    width:80%;
}
.sl-box .cv3 {
    width: 19%;
}
.sl-box .statusMainInSec button.lastButton:hover{
    opacity: 0.8;
}

.sl-box .statusMainInSec button.lastButton {
    margin-top: 0;
    width: 61px !important;
    background: green;
    color: #fff;
}
.sl-box button.fl.btn:hover {
    opacity: 0.8;
}
.sl-box button.fl.btn {
    margin-top: 0;
    width: 50% !important;
    background: green;
    color: #fff;
}
.sl-box .statusMainInSec {
   position: inherit;
    width: inherit;
    top: 0;
}
.mennus .popup {
    border-radius: 2%;
    width: 40%;
    margin-left: -303px !important;
    top:12%;

}
.mennus label {
    padding-bottom: 10px;    font-size: 14px;
}
.mennus .txtarea {
    margin-bottom:30px !important;
}
.mennus .p_content textarea {
    width:87%;

}
.mennus .selectbox {
    width: 89%;
}
.mennus .p_content .fr {
    width: 47%;
}
.mennus .p_content .fl {
    width:50%;

}
.mennus .p_content .fl li input {
    width: 85%;
}
.mennus .p_content .fr li input {
    width:90%;
}
.statusMainRight .statusBottom .js__p_start {
  padding: 0;
    background: rgba(255, 0, 0, 0) !important;
}
.statustr .popup{
  width:35% !important;
  margin-left: -221px !important;
  border-radius: 10px;
  left: 50%;
  top: 50%;
}
.statustr .popup .p_content .fl {
    width: 100%;
  }
 .statustr .popup .p_content .fl label {
    width: 100px;
  }


.order-type_left{width:27.5%;float:left; background:#dfdfdf  url(../images/bg.png) no-repeat center; background-size:cover; padding:15px 15px 0px; }
.order-type_center{width:39%;float:left; background:#fff url(../images/bg.png) no-repeat center; background-size:cover; padding:15px 5px 0px;}
.order-type_right{width:27.5%;float:right; background:#acacac  url(../images/bg.png) no-repeat center; background-size:cover; padding:15px 15px 0px;}
.orderUlF1{margin:0px;padding:0px; height:278px; position:relative;}
.orderUlF1 li{width:92px; height:90px;display:inline-block; background:#fff; border-radius:100px;text-align:center; line-height: 90px; position:absolute;overflow:hidden}
.orderUlF1 li:before{width:0%; height:0%; background:#ff8484c2; top:50%; left:50%; content:''; position:absolute;-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;border-radius:100px;}
.orderUlF1 li:hover:before{background:#ffffffd4;top:0px; left:0px;width:100%; height:100%}
.orderUlF1 li a{color: #000;font-weight:600;text-transform:uppercase;display:block;    position: relative;}
.orderUlF1 li a span{background: #ffffff;padding: 3px 5px;color: #000;font-size: 13px;}
.orderUlF1 li:nth-child(1){left:50%;margin-left:-45px;top:-7px;}
.orderUlF1 li:nth-child(2){    right: 10px;
    top: 51px;}
.orderUlF1 li:nth-child(3){    bottom: 18px;
    right: 40px;}
.orderUlF1 li:nth-child(4){bottom: 21px;
    left: 34px;}
.orderUlF1 li:nth-child(5){    left: 15px;
    top: 53px;}
.orderUlF1 li:nth-child(6){ top:50%; margin-top:-45px; left:50%; margin-left:-45px; background:url(../images/cplate.png) no-repeat center;}
.orderUlF1 li:nth-child(6) a span{background:none;}

.orderUlF2{margin:0px 5px;padding: 0px 0px 10px;position:relative;text-align:center;background: #000;margin-bottom:10px}
.orderUlF2 h2{text-transform:uppercase;font-weight:600;font-size:18px;background: #fff;padding: 10px 5px;margin-bottom: 13px;}
.orderUlF2 li{width:40px; height:40px;display:inline-block; background:#9C0; border-radius:100px;text-align:center; line-height: 40px; background:#fff; margin-bottom:5px}
.orderUlF2 li a{color: #000;font-weight:600;text-transform:uppercase;display:block; font-size:17px;}
.orderUlF2 li:hover {
    background: #000000;
}
.orderUlF2 li:hover a {
   color: #fff;
}

.order-type_right h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    background: #fff;
    padding: 10px 5px;
    margin-bottom: 13px;
    text-align: center;
}
.kotno{text-align:center;}
.kotno li{display:inline-block; width:49%; float:left;background:#fff;position:relative;}
.kotno li:nth-child(2n){float:right; }
.kotno li a{ color:#000; padding:5px 5px; display:block; position:relative; text-transform:uppercase;}
.kotno li:before{width: calc(100% - 10px); height: calc(100% - 10px); position:absolute; content:''; border:1px solid #000; left:5px; top:4px;-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;}
.kotno li:hover:before{background:#84838342;}
table.tableCl1 {
    width: 100%;
    float: left;
    margin-top: 20px;
    min-height: 501px;
}

table.tableCl1 td {
    border-bottom: 1px solid #fff;
    font-size: 13.5px;
    padding: 5px 0px;
    font-weight: 400;
    float: left;
    color: #fff;
}

table.tableCl1 tr {
    width: 100%;
    float: left;
}
table.tableCl1 tfoot td{border-bottom:0px !important; border-top: 1px solid #fff;}
table.tableCl1 tfoot td input[type="text"]{float:right; max-width:100px; height:30px; border:1px solid #999;}
table.tableCl1 tfoot td span{width:100%; float:left; margin-bottom:5px;}
table.tableCl1 tfoot td input[type="submit"] {
    background: url(../images/submit.png) no-repeat top 10px center #2cc50a;
    border: none;
    width: 89%;
    height: 65px;
    padding-top: 33px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px; cursor:pointer;
}

table.tableCl1 tfoot td input[type="submit"]:hover {background: url(../images/submit.png) no-repeat top 10px center #249c09;}
.tableClCtr textarea{width:80px}
.editbt, .dltbt, .donebt {
        width: 25px;
    height: 25px;
    float: left;


    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editbt{background: #9647dc;}
.dltbt{background: #ff2222;}
.donebt {background: #318408;}
.tableClCtr {
    width: 100%;
    float: left;
    margin-top: 20px;
    min-height: 501px;
}

.tableClCtr td {

    font-size: 13.5px;
    padding: 5px 0px;
    font-weight: 400;
    float: left;
}

.tableClCtr tr {
    width: 100%;
    float: left; border-bottom:1px solid #d6d6d6;
}
.tableClCtr tfoot tr{border-bottom:0px !important;}
.tableClCtr tfoot td{border-bottom:0px !important; border-top: 0; text-align:center}
.tableClCtr tfoot td input[type="text"]{float:right; max-width:100px; height:30px; border:1px solid #999;}
.tableClCtr tfoot td span{width:100%; float:left; margin-bottom:5px;}
.order-type_center h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    background: #b4b4b4fa;
    padding: 10px 5px;
    margin-bottom: 5px;
    text-align: center; position:relative;
}
.order-type_center h2  a{display:block; color: #fff;}
.order-type_center h2 span {
    background: #2cc50a;
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0px;
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
    line-height: 43px;
}
.ftbtnsx {
    background: #2cc50a;
    width: 88%;
    border: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    padding: 9px 15px; cursor:pointer;
}
.tableClCtr tfoot td:nth-child(2n) .ftbtnsx{background:#175f07;}

 @media only screen and (max-width:1200px) {

	  .popup {
    margin-left: -49% !important;
    width: 98%;
}

 }





@media screen and (max-width: 1354px) {
    form input {
        width: 160px;
    }
    .statusMainInSec button.lastButton {
        margin-top: 9.1%;
    }
    button.fl.btn {
        margin-top: 9.1%;
    }
    .popup{
        margin-left: -512px !important;
    }

}
@media screen and (max-width: 1293px) {
    .statusMainInSec button {
        display: flex;
        width: 130px;
    }
    form input {
        width: 130px;
    }

}

@media screen and (max-width: 1023px) {

}
.pop2 .popup{
    top: 20%;
    border-radius: 10px;
    left: 50%;
    margin-left: -380px !important;
     width: 50%;
}
.pop2 .p_content .fr li input {
    width: 90%;
}
.pop2 .p_content .fl li input {
    width: 82%;
}
.pop2 .p_content label {
    font-size: 17px;
    padding-bottom: 10px;
}
.pop2 .p_content .fl {
    width: 49%;
}
.pop2 .p_content .fr {
    width: 49%;
}
.pop2 .fl .selectbox {
    width: 86%;
}
.pop2 .p_content .fr .selectbox {
    width: 93%;
}
.pop2 .btn-cr {
    margin-top: 25px;
}

.pop3 .popup{
    top: 20%;
    border-radius: 10px;
    left: 50%;
    margin-left: -227px !important;
     width:30%;
}

.pop3 .p_content .fl li input {
    width:90%;
}
.pop3 .p_content label {
    font-size: 17px;
    padding-bottom: 10px;
}
.pop3 .p_content .fl {
    width:100%;
}
.pop3 .fl .selectbox {
    width:93%;
}
.pop2 .btn-cr {
    margin-top: 25px;
}
.img-r a.js__p_start {
    background: none !important;
}
